*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #17191C;
}

a{
    text-decoration: none;
    color:white;
    font-size: 14px;
}

h2{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.container__hello{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page-wrapper{
    background: url(/video-production/img/hero.png) center top no-repeat, url(/video-production/img/bottom-pic.png) right bottom 306px no-repeat;
}

.header__wrapp{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
}

.menu__item{
    margin-right: 57px;
}

.menu__item:last-child{
    margin-right:0px;
}

.menu__link{
    font-size: 14px;
    transition: .5s;
}

.menu__link:hover{
    color: #FF3D00;
}

.contacts__phone{
    font-size: 26px;
    font-style:normal;
}

.schedule{
    font-family: 'Open Sans';
    font-weight: 400;
    text-decoration: underline;
    color: #FF3D00;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
}

.hello{
    background-size: cover;
    color: white;
    text-align: center;
    margin-bottom: 250px;
}

.main-page__title h1{
    padding: 160px 0 17px;
    font-size: 72px;
}

.title{
    font-weight: 800;
    font-size: 72px;
}

.hello__text{
    padding-bottom: 61px;
    font-size: 18px;
}


.button{
    padding: 18px 53px;
    border-radius: 35px;
    background-color: #FF5500;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    max-width: 195px;
    transition: .5s;
    color: white;
    border: none;
}

.button:hover{
    background-color: #FF3D00;
}

.offers{
    margin-bottom: 180px;
}

.offers__list{
    display: flex;
    justify-content: space-between;
}

.offers__item{
    padding: 36px 22px 71px;
    border-radius: 5px;
    background-color: white;
    width: 362px;
}

.offers__item:last-child{
    margin-right: 0px;
}

.offers__title{
    font-weight: 700;
    font-size: 32px;
    margin: 30px 0px 17px;
}

.offers__img{
    height: 76px;
}

.offers__features{
    display: flex;
    justify-content: space-between;
}


.offers__feature-text{
    font-size: 16px;
    font-weight: 400;
}

.offers__text{
    font-size: 14px;
    margin: 25px 0px 47px;
    max-width: 306px;
    text-align: left;
}

.button--light{
    color:#FF5500;
    border: solid 2px #FF5500; 
    background: white;
    transition: .5s;
}

.button--light:hover{
    color:white;
    background: #FF5500;
}

.news{
    color:white;
    margin-bottom: 145px;
}

.title{
    font-weight: 800;
    font-size: 36px;
    /*margin-bottom: 50px;*/
}

.news__list{
    margin: 50px 0px 55px;
    display: flex;
    justify-content: space-between;
}

.news__item{
    width: 557px;
    vertical-align: top;
    position: relative;
}

.news__cover{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__text-content{
    padding: 25px 30px;
    min-height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.news__date{
    font-size: 14px;
}

.news__title{
    font-weight: 700;
    font-size: 24px;
    margin: 18px 0px 10px;
}

.news__text{
    font-size: 16px;
}

.pager{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pager__display{
    font-size: 16px;
    margin-right: 25px;
}

.pager__list{
    display: flex;
}

.pager__item{
    text-align: center;
}

.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    transition: .5s;
}

.pager__link:hover{
    background-color: #FF5500;
}

.pager__item--active .pager__link{
    background-color: #FF5500;
}

.about{
    display: flex;
}

.about:before{
    content:"";
    background: url(/video-production/img/about-img.png) center center / cover;
    display: block;
    width: 490px;
    height: 505px;
}

.about__content{
    padding: 70px 80px 55px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 785px;
    /*position: absolute;*/
    top: 100px;
    left: 355px;
    margin-top: 100px;
    margin-left: -134px;
    margin-bottom: 55px;
    width: 785px;
}

.about__text{
    margin: 40px 0px 60px;
    width: 495px;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 400;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 60px;
    border-top: solid 4px rgba(255, 255, 255, 0.1);
}

.socials{
    margin-left: 110px;
}

.socials, .socials__item{
    display: inline-block;
}

.socials__item{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;

}

.socials__item:last-child{
    margin-right: 0px;
}

.socials, .menu__list{
    vertical-align: middle;
}

.socials__link{
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--tg .socials__link{
    background-image: url(/video-production/img/soc-telegram.png);
    transition: .5s;
}

.socials__item--tg .socials__link:hover{
    background-image: url(/video-production/img/soc-telegram-hover.png);
}

.socials__item--vk .socials__link{
    background-image: url(/video-production/img/soc-vk.png);
    transition: .5s;
}

.socials__item--vk .socials__link:hover{
    background-image: url(/video-production/img/soc-vk-hover.png);
}

.socials__item--fb .socials__link{
    background-image: url(/video-production/img/soc-fb.png);
    transition: .5s;
}

.socials__item--fb .socials__link:hover{
    background-image: url(/video-production/img/soc-fb-hover.png);
}

.socials__item--inst .socials__link{
    background-image: url(/video-production/img/soc-inst.png);
    transition: .5s;
}

.socials__item--inst .socials__link:hover{
    background-image: url(/video-production/img/soc-inst-hover.png);
}


.contacts{
    text-align: right;
}

.contacts__text{
    color:#9A9A9A;
    font-style: normal;
    font-size: 11px;
    margin-bottom: 6px;
}

/*стили для страницы услуг*/

.subpage-wrapper{
    background: url(../img/services__top-bg.png) center top no-repeat;
}

.page-title h1{
    text-align: left;
    margin: 120px 0px 83px;
    color: white;
    font-size: 72px;
    font-weight: 800;
}

.breadcrumbs{
    display: flex;
    padding-bottom: 27px;
}

.breadcrumbs__link{
    font-weight: 400;
    font-size: 14px;
    color:#9A9A9A;
    text-decoration: underline;
}

.breadcrumbs__item:after{
    content: "/";
    text-decoration: none;
    color:#9A9A9A;
    margin-right: 5px;
}

.breadcrumbs__item--active-item:after{
    content:'';
}

.breadcrumbs__item--active-item .breadcrumbs__link{
    font-weight: 700;
}



.services{
    background:  #fff;
    padding: 90px 0px 94px;
}

.services__list{
    padding-bottom: 70px;
}

.services__item{
    display: flex;
    margin-bottom: 50px;
}

.services__item:last-child{
    margin-bottom: 0px;
}

.services__content{
    padding-left: 56px;
}

.services__title{
    font-weight: 700;
    font-size: 36px;
}

.services__text p{
    margin: 28px 0px 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.68;
}

.pager--dark .pager__link{
    color: #000;
    transition: .5s;
}

.pager--dark .pager__link:hover, .pager__item--active .pager__link{
    color: white;
}

.partners{
    background: #F4F5F5;
    padding: 88px 0px 120px;
}

.partners__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 1.35;
}

.partners__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 58px;
}

.partners__item{
    width: 178px;
    display: flex;
    width: 229px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
}

.partners__item:nth-child(4n + 1){
    justify-content: left;
}

.partner__img{
    filter: saturate(0%);
    transition: .5s;
}

.partner__img:hover{
    filter: saturate(100%);
}

/*reviews*/

.reviews{
    background-color: white;
    padding: 90px 95px;
}

.reviews__list{
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 80px;
}

.reviews__item{
    background: #F4F5F5;
    padding: 50px 30px 33px;
    flex-direction: column;
    display: inline-block;
    margin-bottom: 20px;
}

.reviews__author{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.author__text{
    margin-left: 22px;
}

.author__name:after{
    content:'';
    width: 30px;
    height: 30px;
    background: url(../img/author-after.png);
    display: inline-block;
}

.author__name a{
    color: #1A1B1E;
    font-weight: 700;
    font-size: 24px;
    transition: .5s;
}

.author__name a:hover{
    color: #2E77A4;
    text-decoration: underline;
}

.tag{
    background: #E7E7E7;
    border-radius: 35px;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 7px;
    font-size: 13px;
}

.tag--pink{
    background: #F2D4C9;
}

.review__title{
    max-width: 467px;
}

.review__title h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
}

.review__text{
    width: 495px;
}

.review__text p{
    line-height: 1.68;
    font-size: 16px;
    font-weight: 400;
    color:#818181;
}

.call{
    padding: 120px 0px 120px;
    background: url(../img/party.png) top right 200px no-repeat #373737;
    background-size: contain;
}



.call__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 1.35;
    color: white;
    width: 553px;
}

.orange{
    color:#FF5300;
}

.send-form{
        background: #F4F5F5;
        padding: 88px 0px 120px;
}

.send-form__title{
    font-weight: 800;
    font-size: 36px;
    line-height: 1.35;
    margin-bottom: 55px;
    text-transform: uppercase;
}

.form__row{
    display: flex;
    margin-bottom: 25px;
}

.form__input{
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    background: white;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input:last-child{
    margin-right: 0px;
}

.form__input::placeholder{
    color: #666666;
}

.form__input--textarea{
    height: 235px;
}

.form__controls{
    display: flex;
    margin-bottom: 50px;
}

.form__controls-title{
    width: 36%;
    font-weight: 400;
    font-size: 18px;
}

.controls__list{
    flex:1;
    display: flex;
    flex-wrap: wrap;
}

.controls__elem{
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag{
    background: #F2D4C9;
}

.controls__item{
    margin: 0px 18px 10px 0px;
}

.controls__tag{
    padding: 9px 14px;
    margin-top: 0px;
}

.controls__checkbox{
    display: none;
}

.form__btns{
    display: flex;
    justify-content: flex-end;
}

.form__btn{
    margin-right: 13px;
}

.form__btn:last-child{
    margin-right: 0px;
}

.button-gray{
    background: #8E8E8E;
    transition: .5s;
}

.button-gray:hover{
    background: #2B2B2B;
}

/*welcome page*/

@keyframes rotateIn{
    from{
        transform: scale(0.1) rotate(30deg);
    }

    50%{
        transform: rotate(-10deg);
    }

    70%{
        transform: rotate(3deg);
    }
    
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.welcome{
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(../img/welcome-bg.png) center bottom/cover no-repeat;
}

.welcome__container{
    background: url(../img/welcome-rec.png) center bottom/cover no-repeat;
}

.central{
    width: 1128px;
    height: 643px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    animation:  rotateIn .9s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.welcome__logo{
    margin-bottom: 40px;
}
